*{
    margin: 0px;
    padding: 0px;
    font-family: 'Fugaz One', sans-serif;
    ;   
    color: white;
    background-color: black;
}

.container{
    width: 100%;
    height: 100vh;
    /* background-color: #ffffff; */
    position: relative;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin-left: 100px;
}

.listitem{
    display: inline;
    margin-right: 40px;
}

.listitem a{
    color: white;
}

.logo{
    width: 120px;
}

.link{
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: font-size 1s;
}

.link:hover{
    color: red;
    font-size: 30px;
}

.title{
    margin-left: 10%;
    margin-top: 10%;
}

.title_h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.title_h1 span{
    color: #1c27c7;
}

.title_p{
    font-size: 20px;
    margin-bottom: 20px;
}

.download{
    background-color: #000000;
    padding: 10px 5px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.images{
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: 35%;
    height: 80%;
}

.img{
    width: 100%;
    transition: width 1s;
}

.img:hover{
    width: 80%;
}

#about{
    margin-top: 20%;
    margin-left: 8%;
}

.headings{
    text-align: center;
    margin-bottom: 30px;
}

.headings h1{
    font-size: 50px;
    margin-bottom: 5%;
}

.headings h3{
    font-size: 30px;
    color: #cc701b;
    margin-bottom: 5%;
}

.abt_content{
    display: grid;
    grid-template-columns: 30% 70%;
}

.abt_img img{
    width: 100%;
}

.abt_intro{
    font-size: 20px;
    text-align: justify;
    max-width: 100vh;
    margin-left: 20%;
}

.abt_details{
    height: 50px;
    align-items: center;
    display: flex;
}

.abt_details i{
    margin-right: 20px;
}

#skill{
    margin-top: 10%;
    margin-left: 8%;
}

.skill-heading{
    text-align: center;
    margin-bottom: 5%;
}

.skill-heading h1{
    font-size: 50px;
}   


.skills{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.f-skill{
    width: 50%;
}

.f-skill h3{
    text-align: center;
    margin-bottom: 5%;
}

.b-skill{
    width: 50%;
}

.b-skill h3{
    text-align: center;
    margin-bottom: 5%;
}

.frontend{
    width: 50%;
    display: flex;
    margin-bottom: 20px;
    align-items: start;
    justify-content: baseline
}

.backend{
    width: 50%;
    display: flex;
    margin-bottom: 20px;
    align-items: start;
    justify-content: baseline;
}

